:root {
  --approve: rgba(46, 221, 137, 1);
  --as: 0px 44px 52px 0px rgba(0, 0, 0, 0.25);
  --button-color: rgba(255, 11, 25, 1);
  --dark-blue: rgba(56, 66, 77, 1);
  --default-bold-body-font-family: "SFPro Text-Semibold", Helvetica;
  --default-bold-body-font-size: 17px;
  --default-bold-body-font-style: normal;
  --default-bold-body-font-weight: 400;
  --default-bold-body-letter-spacing: -0.40799999237060547px;
  --default-bold-body-line-height: 22px;
  --default-bold-subheadline-font-family: "SFPro Text-Semibold", Helvetica;
  --default-bold-subheadline-font-size: 15px;
  --default-bold-subheadline-font-style: normal;
  --default-bold-subheadline-font-weight: 400;
  --default-bold-subheadline-letter-spacing: -0.5px;
  --default-bold-subheadline-line-height: 20px;
  --defaultsystembluedark: rgba(10, 132, 255, 1);
  --defaultsystembluelight: rgba(0, 122, 255, 1);
  --defaultsystemgreendark: rgba(50, 215, 75, 1);
  --defaultsystemgreenlight: rgba(52, 199, 89, 1);
  --defaultsystemorangedark: rgba(255, 159, 10, 1);
  --defaultsystemorangelight: rgba(255, 149, 0, 1);
  --drop-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.05);
  --error: rgba(252, 2, 47, 1);
  --grey-01: rgba(149, 149, 149, 1);
  --grey-02: rgba(203, 203, 203, 1);
  --grey-03: rgba(232, 232, 232, 1);
  --grey-04: rgba(246, 246, 246, 1);
  --label-colordarkprimary: rgba(255, 255, 255, 1);
  --label-colorlightprimary: rgba(0, 0, 0, 1);
  --main-dark-color: rgba(6, 19, 33, 1);
  --pressed: rgba(255, 11, 25, 1);
  --red-shadow: 0px 3px 24px 0px rgba(255, 40, 0, 0.32);
  --white: rgba(255, 255, 255, 1);
}
